@import "../../../../scss/variables";


.contacts {
  max-width: 400px;

  .title {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .content {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 1rem;
      color: $primaryColor;
      font-size: 1.7rem;
    }

    p {
      padding: 0.5rem 0;
      font-size: 1.2rem;
      line-height: 1.6rem;

      a {
        text-decoration: none;
        color: $fontColor;
      }

    }
  }
}


@media (max-width: 932px) {
  .contacts {
    margin: 0 auto 2.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.7rem;
    text-align: center;
  }
}

@media (max-width: 355px) {
  .title {
    font-size: 1.5rem;
  }
}