@import "../../scss/variables";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  //display:none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
}

.modalDialog {
  margin: 40px auto;
  max-width: 700px;
}

.popupContent {
  position: relative;
  width: 100%;
  padding: 3rem 3.8rem 1rem 3rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: hidden;
}
.close {
  position:absolute;
  top:8px;
  right:14px;
  cursor: pointer;
}

.form {
  min-height: 65vh;
}

@media (max-width: 1032px) {
  .modalDialog {
    max-width: 620px;
  }
}

@media (max-width: 570px) {
  .popupContent {
    padding: 1rem 1.8rem 0.8rem 1rem;
  }
}

@media (max-width: 430px) {
  .popupContent {
    padding: 0.7rem 1.1rem 0.1rem 0.1rem;
  }
}