@import "../../scss/variables";

.cards {
  width: 320px;
  height: 700px;

  .wrap {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 895px) {
  .cards {
    width: 250px;
    right: 1.1rem;
  }
}