@import "../../../../scss/variables";

.menu {
  color: #e7e5e2;
  min-width: $dashboardMenuWidth;
  height: 100vh;
  background: #1c2024;
  font-size: 0.8rem;

  & .header {
    background: #005c88;
    height: $dashboardMenuHeightItem;
    display: flex;
    align-items: center;
    padding: 8px;
  }

  & .items {
    background: #292d2f;
    height: $dashboardMenuHeightItem;
    display: flex;
    align-items: center;
    padding: 8px;

    & p {
      cursor: pointer;
    }
  }
}

.wrap {
  display: flex;
}